body{
    
    overflow-x: hidden;
    margin-bottom: 0%;
    margin-top: 0%;   
}

#main{
    position: absolute;
    width: 100vw;
    min-height:100vh;
    left:0;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("https://fdrobles.github.io/IMG_3460%20(1).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main>div{
    width:100vw;
}

.topHeader{
    position: absolute;
    top:0;
    left:0;
    width: 100%; 
    min-height: 5vh; 
    background-color: black; 
}

.navbarHome{
    font-size:1.5em;
    padding-left: .40em;
    padding-right: .40em;
    color:gray;
    text-decoration: none;
}
.navbarItems{
    font-size:1.125em;
    padding-left: .40em;
    padding-right: .40em;
    color:gray;
    text-decoration: none;
}

#nav {
    width:50vw;
    left:5vw;
    top:1%;
    position:absolute;
    color: gray;
}



#profilePic {
    position:absolute;
    top: 5.5%;
    left: 20vw;
    border-radius: 50%;
    border: .25em solid gray;
    scale: 0.75em;
}



#header{
    position:absolute;
    background-color: rgba(255,255,255,.70);
    top:5%;
    text-align: center;
    font-size: 3em;
}

#header2{
    position:absolute;
    background-color: rgba(255,255,255,.70);
    top:5%;
    text-align: center;
    font-size: 3em;
    visibility: hidden;
}

#header3{
    position:absolute;
    background-color: rgba(255,255,255,.70);
    top:5%;
    text-align: center;
    font-size: 3em;
    visibility: hidden;
}

#header4{
    position:absolute;
    background-color: rgba(255,255,255,.70);
    top:5%;
    text-align: center;
    font-size: 3em;
    visibility: hidden;
}

#header5{
    position:absolute;
    background-color: rgba(255,255,255,.70);
    top:5%;
    text-align: center;
    font-size: 3em;
    visibility: hidden;
}

#headerTitle1{
    position: relative;
    margin-top: 0.5%;
    margin-bottom: 1%;

}

#subSection1{
    position: relative;
    font-size: .5em;
    margin-top: 0%;

}

#headerTitle2{
    position: relative;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

#headerTitle3{
    position: relative;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

#headerTitle4{
    position: relative;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

#headerTitle5{
    position: relative;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

#content{
    position: absolute;
    background-color: rgba(255,255,255,.70);
    top:40%;
    left:20%;
    text-align: center;
    
}

#content2{
    position: absolute;
    background-color: rgba(255,255,255,.70);
    top:40%;
    left:20%;
    text-align: center;
    visibility: hidden;
}

#content3{
    position: absolute;
    background-color: rgba(255,255,255,.70);
    top:40%;
    left:20%;
    text-align: center;
    visibility: hidden;
}

#content4{
    position: absolute;
    background-color: rgba(255,255,255,.70);
    top:40%;
    left:20%;
    text-align: center;
    visibility: hidden;
}

#content5{
    position: absolute;
    background-color: rgba(255,255,255,.60);
    top:40%;
    left:20%;
    text-align: center;
    visibility: hidden;
}

.contentHeader{
    position: relative;
    text-align: left;
    left:5%;
    width:90%;
    font-size: 1.5em;
}

.contentFill{
    position: relative;
    text-align: left;
    left:5%;
    width:90%;
}

.selectedTab {
    visibility: visible;
    animation: fade 3s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity:1;}
}

.notSelected{
    visibility: hidden;
}

@media (max-width: 1100px) {
    #main{
        position: absolute;
        width: 100vw;
        height:100vh;
        left:0;
        overflow-x: hidden;
        overflow-y: auto;
        background-image: url("https://fdrobles.github.io/IMG_3460%20(1).jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    
    }

    #profilePic {
        position:absolute;
        top: 5%;
        left: 5vw;
        border-radius: 50%;
        border: .25em solid gray;
        scale: 0.75;
    }

    .navbarHome{
        font-size:1em;
        padding-left: .40em;
        padding-right: .40em;
        color:gray;
        text-decoration: none;
    }
    .navbarItems{
        font-size:.75em;
        padding-left: .40em;
        padding-right: .40em;
        color:gray;
        text-decoration: none;
    }

    .contentHeader{
        position: relative;
        text-align: left;
        left:5%;
        width:45%;
        font-size: 1.5em;
    }
    
    .contentFill{
        position: relative;
        text-align: left;
        left:5%;
        width:90%;
    }
    
}

@media (max-width: 600px) {
    #main{
        position: absolute;
        width: 100vw;
        height:100vh;
        left:0;
        overflow-x: hidden;
        overflow-y: auto;
        background-image: url("https://fdrobles.github.io/IMG_3460%20(1).jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    
    }

    #profilePic {
        position:absolute;
        top: 2.5%;
        left: .5vw;
        border-radius: 50%;
        border: .25em solid gray;
        scale: 0.5;
    }

    #nav {
        width:100vw;
        left:5vw;
        top:1%;
        position:absolute;
        color: gray;
    }

    .navbarHome{
        font-size:.45em;
        padding-left: .40em;
        padding-right: .40em;
        color:gray;
        text-decoration: none;
    }
    .navbarItems{
        font-size:.2em;
        padding-left: .40em;
        padding-right: .40em;
        color:gray;
        text-decoration: none;
    }

    #contentHeader{
        position:absolute;
        background-color: rgba(255,255,255,.50);
        top:5%;
        text-align: center;
        font-size: 1.5em;
    }
    
    #contentHeader2{
        position:absolute;
        background-color: rgba(255,255,255,.50);
        top:5%;
        text-align: center;
        font-size: 1.5em;
        visibility: hidden;
    }
    
    #contentHeader3{
        position:absolute;
        background-color: rgba(255,255,255,.50);
        top:5%;
        text-align: center;
        font-size: 1.5em;
        visibility: hidden;
    }
    
    #contentHeader4{
        position:absolute;
        background-color: rgba(255,255,255,.50);
        top:5%;
        text-align: center;
        font-size: 1.5em;
        visibility: hidden;
    }
    
    #contentHeader5{
        position:absolute;
        background-color: rgba(255,255,255,.50);
        top:5%;
        text-align: center;
        font-size: 1.5em;
        visibility: hidden;
    }

    .contentHeader{
        position: relative;
        text-align: left;
        left:5%;
        width:45%;
        font-size: .75em;
    }
    
    .contentFill{
        position: relative;
        text-align: left;
        left:5%;
        width:90%;
        font-size: .5em;
    }
}